@use 'styles/__' as *;

._ {
	display: flex;
	justify-content: space-between;
	height: 80px;
	padding-right: 20px;
}

.nav-group {
	display: flex;
	gap: 16px;
}

.nav-link {
	display: flex;
	align-items: center;
	border-bottom: 3px solid transparent;
	font-size: 1.1em;
	padding: 0 10px;

	&_active {
		border-color: $c-bg-accents;
	}
}

.nav-item-wrap {
	display: flex;
	align-items: center;
}

.logo {
	height: 100%;
	fill: $c-f-accents;
}

.login {
	color: $c-f-tertiary;
	background: $c-bg-accents;
	&:hover {
		color: $c-f-tertiary;
		border-color: $c-b-main;
	}
}
