@use '__' as *;

::-webkit-scrollbar {
	width: 6px;
	height: 6px;

	&-track {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.1);
	}

	&-thumb {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.2);
	}

	&-thumb:hover {
		background: rgba(0, 0, 0, 0.4);
	}

	&-thumb:active {
		background: rgba(0, 0, 0, 0.9);
	}
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body,
#root {
	display: flex;
	flex-direction: column;
}

html {
	min-height: 100vh;
}

body,
#root {
	flex-grow: 1;
}

body {
	margin: 0;
	font-family:
		'Trebuchet MS',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	color: $c-f-main;
	fill: $c-f-main;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: $c-f-accents;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1,
h2,
h3 {
	color: $c-f-accents;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 2em;
}

button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	color: $c-f-secondary;
	fill: $c-f-secondary;
	background: $c-bg-tertiary;
	padding: 6px 12px;
	border: 2px solid;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		color: $c-f-accents;
		fill: $c-f-accents;
	}

	&[disabled] {
		color: $c-f-secondary;
		fill: $c-f-secondary;
		cursor: not-allowed;
		&:hover {
			color: $c-f-secondary;
			fill: $c-f-secondary;
		}
	}

	&[type='submit'] {
		color: $c-f-tertiary;
		fill: $c-f-tertiary;
		background: $c-bg-accents;
		&:hover {
			color: $c-f-tertiary;
			fill: $c-f-tertiary;
			border-color: $c-b-main;
		}

		&[disabled] {
			color: $c-f-accents;
			fill: $c-f-accents;
			background: $c-bg-secondary;
			border-color: $c-b-accents;
			&:hover {
				color: $c-f-accents;
				fill: $c-f-accents;
			}
		}
	}

	svg {
		height: 1.1rem;
	}
}

input,
textarea {
	width: 100%;
	min-width: 0;
	border: 1px solid $c-b-main;
	background: $c-bg-tertiary;
	color: $c-f-main;
	padding: 6px 12px;
	border-radius: 5px;

	&:focus {
		border-color: $c-b-accents;
		outline: none;
	}

	&:disabled {
		cursor: not-allowed;
	}
}
